<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" /> <!--Se vincula el syles.css para que de un formato al html-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MongoDB</title>

  </head>

  <body>
    
      <body>
        <div class="header">
          <h1>Persons</h1>
        </div>
        <br />
        <a href="/addPerson">Agregar Persona</a><br>
        <br />
        <a href="/listPerson">Lista de Personas</a><br>
    <!--Se crea un vinculo para que dirija hacia las paginas de agregar persona y listar persona-->
  </body>
</html>
