<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <title>Agregar Provedor</title>
  </head>
  <body>
    <h1>Agregar Provedor</h1>

    <form action="/addProvedor" method="post">
      <label for="empresa">Nombre de la Empresa:</label>
      <input type="text" id="empresa" name="empresa" /><br /><br />
      <label for="tipo">Tipo:</label>
      <input type="text" id="tipo" name="tipo" /><br /><br />
      <label for="correo">Correo:</label>
      <input type="text" id="correo" name="correo" /><br /><br />
      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" name="telefono" /><br /><br />
      <label for="encargado">Encargado:</label>
      <input type="text" id="encargado" name="encargado" /><br /><br />
      <!--Se crea un formulario para que reciba la informacion ingresada y la manda a person.js para que pueda ingresarla a MongoDB -->
      <input type="submit" value="submit" />
    </form>
    <br />
    <a href="/">Regresar</a><br />
  </body>
</html>
